<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="layout">
    <header class="header">
        <p-toolbar>
            <div class="p-toolbar-group-start">
                <h1>IBM MQ Middleware</h1>
            </div>
            <div class="p-toolbar-group-end">
                <p-button label="Partners" icon="pi pi-users" styleClass="p-button-text" routerLink="/users"></p-button>
                <p-button label="Messages" icon="pi pi-envelope" styleClass="p-button-text" routerLink="/messages"></p-button>
            </div>
        </p-toolbar>
    </header>

    <main class="main-content">
        <router-outlet></router-outlet>
    </main>

    <app-loading-spinner></app-loading-spinner>
</div>